.title1 {
	text-align: left;
	color: #269ceb;
	margin-top: 0px;
	float: left;
	clear: both;
}

.title2 {
	text-align: left;
	color: #ff9d00;
	margin-top: 0px;
	float: left;
	clear: both;
}

.align-center {
	display: flex;
	justify-content: center;
}

.align-name-center {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 400px) {
	.align-center {
		flex-direction: column;
		width: 400px;
	}
}
